.aboutus > .left{
    background-image: url("../img/1.jpg");
    background-size: cover;
    background-position: center;
}

.aboutus >.right{
    background-color: #fff;
}

.aboutus h2{
    color: $door;
}