.offer > .left {
 
  background-color: white;
  
}

.offer > .right {
  background-image: url("../img/2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}


.offer h2{
  color: $door;
}