@import "_variables.scss";
@import "_works.scss";
@import "_contact.scss";
@import "_aboutus.scss";
@import "_offer.scss";
@import "_message.scss";

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-size: 2rem;
  margin: 20px;
  text-align: center;
  color: $door;
}
hr {
  width: 70%;
  color: $floor;
}

header {
  height: 10vh;
  width: 100%;
  background-color: $door;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  border-bottom: 1px solid $door;
}

.logo {
  display: flex;
  justify-content: left;
  width: 40%;
  height: 90%;
}

.logo img {
  height: 100%;
}

.navigation {
  width: 50%;
  display: flex;
}
.navigation ul {
  display: flex;
}

.navigation li {
  color: $bgcontent;
  font-size: 1.5rem;
  margin: 0 20px;
  list-style: none;
  cursor: pointer;
  display: flex;
  transition: 0.4s;
  justify-content: left;
}

.navigation li:hover {
  transform: scale(1.4);
  color: $floor;
}



.content {

  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

.left,
.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  padding: 20px;
  display: flex;
  background-color: $door;
  color: #979797;
  justify-content: center;
  gap: 50px;
}

footer a {
  color: $floor;
}

footer i {
  padding: 10px;
  font-size: 2.5rem;
  transition: 0.3s;
}

footer i:hover {
  color: $floor;
  transform: scale(1.4);
}

.sm,
.writeme {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
